body{
    background-color: antiquewhite;
}
.T1{
    color: blue;
    font font-family: Arial;
    
}
.c1{
    text-align: center;
}
 
.p1{
    color: aqua;
    font-family: Arial;
    font-size: 20 px;
}